<%- include("header")-%>

<p>
  about page Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
  laboriosam accusamus amet harum laudantium doloremque, error at exercitationem
  nesciunt consequuntur nisi! Sunt quam neque doloremque molestias soluta quos
  animi deserunt.
</p>

<%- include("footer")-%>
